html,
body{
  height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    min-width: 300px;
    /* overflow-x: hidden; */
    /*overflow-y: scroll; */
    text-rendering: auto;
    text-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
  
body{
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;  line-height: 1.6;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
}
